<%- include('partials/header') -%>

<form action="/compose" method="post">
	<div class="form-group container">
		<h1>Compose</h1>
		<label for="" class="formTitle">Title</label>
		<input
			type="text"
			name="titleBox"
			class="form-control"
			autocomplete="off"
		/>
		<label for="" class="formPost">Form</label>
		<textarea
			name="postBox"
			cols="100"
			rows="10"
			class="form-control"
			autocomplete="off"
		></textarea>
	</div>
	<div class="container">
		<button class="btn btn-primary" type="submit">Publish</button>
	</div>
</form>
<%- include('partials/footer') -%>
